*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
    color: #2DE2E6;
    font-family: 'Quantico', sans-serif;
    scroll-behavior: smooth;
}
ul{
    font-style: italic;
}
body{
    background: url(./src/background.jpg), no-repeat, center center fixed;
    background-size: auto;
}
header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 2%;
    margin-bottom: 5%;

}
header ul {
    display: flex;

}
header ul li {
    padding: 5px;
}
header ul li a{
    transition: 300ms;
}
header ul li a:hover{
    color:#FFC611;
}
.container{
    text-align: center;
}
.container .name h1{
    font-size: 60px;
}
.container .name h5{
    font-size: 25px;
}
#arrow{
    font-size: 35px;
    cursor: pointer;
}
.rotate{
    transform: rotate(180deg);
    transition: 500ms;
}
#animation{
    transition: 500ms;
}

.active{
    display: block !important;

}
#about p {
    max-width: 600px;
    margin: 0 auto;
}
#skills{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}
.container-carrosel{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    
}
.container-carrosel ul {
    display:flex;
    flex-wrap:wrap;
    
}
.container-carrosel ul li{
    text-align: center;
    padding: 5px; 
    margin: 5px;
    font-size:25px;
    transition: 300ms;
}
.container-carrosel ul li:hover{
    cursor: pointer;
    background-color: #FD1D53;
}

.container-form{
    text-align: center;
}
.form{
    width: 40%;
    margin: 0 auto;
    padding: 1%;
    margin-top: 5%;
}
.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;

}
.form button{
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right,#FD1D53 50%, #FF6C11 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: 20px;
}
.form button:hover{
    background-position: left bottom;
    color:#FFF;
}
@media only screen and (max-width: 768px){
    .form{
        width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .container .name h1{
        font-size: 30px
    }
    .container .name h5{
        font-size: 15px;
    }
    #about p{
        max-width: 80%;
        text-align: justify;
    }

}
#arrowSkills{
    text-align: center;
    cursor: pointer;
    font-size: 35px;
}
#img--skills{
    max-width: 600px;
    margin: 0 auto;
}
#animation--skills{
    transition: 500ms;

}
.rotate--skills{
    transform: rotate(180deg);
}
.active--skills{
    display:flex !important;
    flex-wrap:wrap;
    justify-content:space-around;
}